body {
    background-color: rgb(131, 211, 213);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #f0d3d3;
    text-align: center;
}

form {
    margin: 20px auto;
    background-color: aquamarine;
}

select, button {
    padding: 5px;
    margin: 5px;
}

#orders {
    margin-top: 20px;
}
